{% extends 'email/emailBase.html.twig' %}

{% block header %}Отчет{% endblock %}

{% block content %}

<div class="content">
    <table>
        <tr>
            <td>

                <h1>Новый отчет!</h1>
                <p class="lead">Статистика во вложении.</p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}