{% extends 'email/emailBase.html.twig' %}

{% block header %}Добро пожаловать{% endblock %}

{% block content %}
<div class="content">
    <table>
        <tr>
            <td>
                <h1>Добро пожаловать, {{ email.toName }}!</h1>
                <p class="lead">Наконец-таки вы с нами. Переходите скорее на сайт.</p>
                <a class="btn" href="{{ url('app_homepage') }}">На сайт</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}