<div class="col-sm-12 border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-white featured-border">
    <div class="row">
        <a class="banner-link" href="#">
            <div class="banner-img-block d-block">
                <img class="banner-img" src="{{ asset(banner) }}">
            </div>
            <h1 class="text-center mt-2 px-4">Спать или не спать: <br>С новыми кроватками это не вопрос</h1>
        </a>
    </div>
</div>