<!doctype html>
<html lang="ru">
<head>

<meta name="viewport" content="width=device-width"/>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Еженедельная рассылка Spill-Coffee-On-The-Keyboard</title>

<link rel="stylesheet" type="text/css" href="email.css"/>

</head>
<body>

<table class="head-wrap">
    <tr>
        <td></td>
        <td class="header container">

            <div class="content">
                <table>
                    <tr>
                        <td><h6 class="collapse">Еженедельная рассылка</h6></td>
                        <td align="right"><a class="collapse" href="#">Spill-Coffee-On-The-Keyboard</a></td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table>


<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container">

            <div class="content">
                <table>
                    <tr>
                        <td>

                            <h1>Новые статьи на сайте!</h1>
                            <p class="lead">За прошедшую неделю на сайте появились следующие статьи.</p>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="content">
                <table>
                    <tr>
                        <td class="small post-image" width="20%"><img src="http://placehold.it/240x150" alt=""/></td>
                        <td>
                            <h3>Что надо делать, если надо верстать? <small>ХэТэЭмЭль Цссович</small></h3>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                            <a class="btn" href="#">Читать</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="content">
                <table>
                    <tr>
                        <td class="small post-image" width="20%"><img src="http://placehold.it/240x150" alt=""/></td>
                        <td>
                            <h3>Что надо делать, если надо верстать? <small>ХэТэЭмЭль Цссович</small></h3>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                            <a class="btn" href="#">Читать</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="content">
                <table>
                    <tr>
                        <td class="small post-image" width="20%"><img src="http://placehold.it/240x150" alt=""/></td>
                        <td>
                            <h3>Что надо делать, если надо верстать? <small>ХэТэЭмЭль Цссович</small></h3>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                            <a class="btn" href="#">Читать</a>
                        </td>
                    </tr>
                </table>
            </div>


        </td>
        <td></td>
    </tr>
</table>

<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p class="gray">С любовью, Spill-Coffee-On-The-Keyboard</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>